.DS_Store

/_site/
/.quarto/
*code-workspace
*_cache
*_files
_freeze/

# Nix
.direnv/
.envrc

# Data
recipes/recipe-06/data/original/swda/*

# Local library
R/

_notes.md
_webexercises.qmd
.aider*
.env
